[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-decouple = "*"
databases = "*"
alembic = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
